<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <iframe
      src="https://embed.kumu.io/4ff48cd02839ed5821d26bb799ace9da"
      frameborder="0"
    ></iframe>
    <script>
      var iframe = document.getElementById('iframeId');
      var innerDoc = iframe.contentDocument
        ? iframe.contentDocument
        : iframe.contentWindow.document;
      console.log(innerDoc);
      const anchorTags = document.querySelectorAll('a');
      for (let i = 0; anchorTags.length; i++) {
        console.log(anchorTags[i]);
        anchorTags[i].addEventListener('click', (e) => e.preventDefault());
      }
    </script>
  </body>
</html>
