<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  </style>
  <body>
    <iframe
      src="https://embed.kumu.io/832c7cd806ac361080a3f59ae5d1b6f5"
      frameborder="0"
    ></iframe>
  </body>
</html>
