.sidebar{
    -fx-background-color: #ff8a65;
}
.button {
     -fx-background-color: transparent;
}
.button:hover{
    -fx-background-color:  #c75b39;
}
.topbar {
    -fx-background-color:#2196f3;
}
.humberger  StackPane{
    -fx-background-color: white;

}
#humberger {
-fx-font-color:  #c75b39;
}

.leftPane {
     -fx-background-color:  #212121;
}